html {
    background: #78078a;
    color: rgba(255, 255, 255, 0.815);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    font-size: 10px;
}

*::selection {
    color: brown;
}

.show {
    position: relative;
}

.show video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

h1 {
    background-color: #78078a;
    mix-blend-mode: darken;
    font-size: 50px;
}

.glass-dabba, .calculator {
    /* glass effect */
    background: rgba(37, 71, 140, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
}

.glass-dabba {
    position: absolute;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
}

.display {
    border-radius: 2.5px;
    background-color: whitesmoke;
    color: black;
    text-align: right;
    
    /* grid-column: 1/ -1;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; */
    position: relative;

    width: inherit;
    padding: 10px;
    margin: 15px 15px 0 15px;
    border: solid white 2px;

    word-wrap: break-word;
    word-break: break-all;
}

*::-webkit-scrollbar{
    width: 2%;
}

.display-exp{
    opacity: .4;
    font-size: 20px;
    overflow: auto;
    height: 24px;
}

.display-result {
    height: 36.8px;
    overflow:auto;
}

.grid-container {
    margin: 10px;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 70px);
    
}

button
{
    background-color: rgba(163, 229, 245, 0.93);
    border: 1px;
    border-radius: 50px;
    font-size: 18px;
    box-shadow:#1f1f1f;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.op {
    background-color: rgba(59, 11, 93, 0.83);
    color: white;
    border: none;
}

.equal {
    grid-column: -1/3;
}

.ac {
    grid-column: 1/3;
}

button:hover {
    background-color: rgb(177, 234, 248);
}

.scattered {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
