html {
    background: rgba(3, 3, 24, 0.95);
    color: rgba(255, 255, 255, 0.815);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    font-size: 10px;
}

*::selection {
    color: brown;
}

.calculator {
    /* glass effect */
    backdrop-filter: blur(.5px);
    border: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    border-radius: 2.5px;
    background-color: whitesmoke;
    color: black;
    text-align: right;
    
    /* grid-column: 1/ -1;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column; */
    position: relative;

    width: 287px;
    padding: 10px;
    margin: 15px 15px 0 15px;
    border: solid white 2px;

    word-wrap: break-word;
    word-break: break-all;
}

*::-webkit-scrollbar{
    width: 2%;
}

.display-exp{
    opacity: .4;
    font-size: 20px;
    overflow: auto;
    height: 24px;
}

.display-result {
    height: 36.8px;
    overflow:auto;
}

.grid-container {
    margin: 10px;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 70px);
    
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(8rem, 1fr));
    grid-auto-rows: 6rem; */
}

button
{
    background-color: rgba(163, 229, 245, 0.93);
    border: 1px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow:#1f1f1f;
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.op {
    background-color: rgba(11, 77, 93, 0.83);
    color: white;
    border: none;
}

.equal {
    grid-column: -1/3;
}

.ac {
    grid-column: 1/3;
}

button:hover {
    background-color: rgb(177, 234, 248);
}
